@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  font-family: "Open Sans", sans-serif;
}
@layer base {
  :root {
    --color-bg: 43 79 96;
  }
}

.i4ewOd-pzNkMb-haAclf{
  display: none !important;
}